
$main: #f6a9bd;
$light: #f4e0e1;
$white: #ffffff;
$dark: #f0386b;

.App {
  text-align: center;
  /* background-image: url("../public/assets/trianglify-lowres.png");
  background-repeat: no-repeat;
  background-size: 100%; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main--primary-text, .main--secondary-text, .main--tertiary-text {
  font-family: "kanit";
}

.main--primary-text {
  letter-spacing: 0.1em;
}